@font-face {
    font-family: gotham;
    src: url(gotham_book.ttf);
}

body {
    color: black;
    font-family: gotham, sans-serif;
}

.footer {
    background-color: white;
    padding: 30px 30px 30px 30px;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0px;
    display: inline-block;
    font-size: 18px;
    margin: auto;
}

.lines {
    width: 100%;
    height: 10px;
    background-color: white;
}

h1 {
    font-size: 30px;
}

h3 {
    font-size: 18px;
    color: #0a7995;
}

.mainframe {
    width: 100%;
    height: 70%;
    top: 100px;
    background-color: red;
    position: relative;
}

img {
    width: 100%;
}

.images {
    top: 60px;
    height: 70%;
    top: 50%;
    background-color: red;
    

}
    
}