body {

    font-size: 24px;
    font-family: georgia, times, serif;
    font-weight: bolder;

}
/*remember to view the class page guide*/
p {
    font-size: 16px;
}
address {
    font-size: 12px;
}

.triangle {
    background-color: red;
    width: 0;
    border: 40px;
    border-bottom: 40px;
    border-top: 40px;
    border-right: 0
    border-left: 0;
}