body {
    color: black;
    background-color: white;
    font-family: helvetica, sans-serif;
}

h1 {
    font-size: 50px;
    font-weight: normal;
    line-height: 50%;
    padding-left: 20px;
    line-height: 50%;
    padding-top: 10px;
}

h1 a{
    font-size: 50px;
    font-weight: normal;
    padding: 10px 0px 0px 20px;
    text-decoration: none;
    line-height: 50%;
    color: black;
}

a:hover {
    color: gray;
}

h2 {
    font-size: 24px;
    font-weight: 100;
    font-family: sans-serif;
    padding: 0px 0px 0px 40px;
    line-height: 50%;
}

.center {
    width: 700px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 200px;
}

.form {
    text-align: center;
    width: 450px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    text-decoration: none;
    background-color: #f1f2f2;
}

.form h3 {
    font-size: 18px;
}

.form table {
    table-layout: auto;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
}


table .name, .stepNum, .imgMain {
    width: 50%;
}


table .enter {
    width: 20%;
}

input[type=text] {
    padding: 5px 20px;
    font-weight: 300;
    font-size: 16px;
    color: gray;
    font-style: italic;
}

.form button {
    font-size: 16px;
    font-weight: 400;
    background-color: #b6d3f5;
    border: none;
    padding: 5px 7px;
    border-radius: 4px;
}

.buttonNext {
    background-color: black;
}

.item {
    display: inline-block;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.image {
    height: 200px;
    width: 200px;
    background-color: silver;
    position: relative;
    box-shadow: 3px 3px 3px 3px silver;
}

.image:hover {
    box-shadow: 3px 3px 3px 3px #ac7278;
}

.image img {
    max-height: 100%;
}

.caption {
    margin: auto;
    padding: 5px;
}

.caption a{ 
    text-decoration: none;
    color: gray;
}

.footer { 
    background-color: black;
    padding: 0px 0px 0px 0px;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0px;
    display: inline-block;
    color: white;
    font-size: 18px;
    margin: auto;
    font-weight: normal;
    font-size: 15px;
}


.footer a {
    color: white;
    text-decoration: none;
    font-weight: normal;
}

.footer .page{
    color: white;
    font-size: 24px;
}

table {
    table-layout: fixed;
    text-align: left;
    padding: 10px;
}

table .categories{
    width: 10%;
}

table .submission{
    width: 10%;
}

table .about {
    width: 20%;
    text-align: right;
}

table .page {
    width: 60%;
    text-align: center;
}

th, td {
    padding: 10px;
}